/* Default styles for all devices */
body {
  background-image: url('site-images/Galaxies.png');
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 4px solid #ccc;
  background-image: url('site-images/nightsky.png');
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 14px;
  padding: 8px 16px; /* Add some padding around the text */
  font-size: 14px; /* Set the font size for the topic text */
  color: #333; /* Set the text color */
  background-color: rgba(212, 255, 0, 0.497); /* Red color with 30% transparency */
  border-radius: 8px;
  cursor: pointer;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  border-top: 1px solid #ccc;
  padding: 20px;
}

/* Responsive Design */
/* Adjust styles for tablets and smaller screens */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 10px;
  }

  nav li {
    font-size: 12px; /* Set the font size for the topic text */
    margin: 10px 1; /* Add some spacing between the horizontal topics */
  }

  main {
    padding: 10px;
  }
}